<footer id="footer">
    <div class="container">
        <div class="row align-items-start">
            <hr>
            <div class="col-md-4">
                <h5>Contacts</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>4650 Arrow Hwy Ste: F-6 <br>Montclair, CA 91763</dd>
                </dl>
                <dl class="contact-list">
                    <dt>Email:</dt>
                    <dd><a href="mailto:#">richard@intelexplastic.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>Phone:</dt>
                    <dd>Office: <a href="tel:#">909-624-7879</a></dd>
                    <dd>Mobile: <a href="tel:#">909-919-0108</a></dd>
                    <dd>Fax: 909-624-7844</dd>

                </dl>
            </div>
            <div class="col">
                <h1>Intelex Plastic</h1>
                <q>Identify your problems but give your power and energy to solution</q>
              
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
            
            </div>
            <div class="col">
                Directions:
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.0767800315866!2d-117.70590593487758!3d34.09317347301955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c33190ca8eff03%3A0x13287e514bddbbda!2s4650%20Arrow%20Hwy%2C%20Montclair%2C%20CA%2091763!5e0!3m2!1sen!2sus!4v1665426488062!5m2!1sen!2sus"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="center-footer">&copy;2007-2022 Intelex Plastic. <a href="#">Privacyn Policy.</a></div>
</footer>
<!--Scripts-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
</body>

</html>