<%- include('partials/header') %>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email"  class="form-control" placeholder="email@example.com">
</div>








<%- include('partials/footer') %>