<%- include('partials/header') %>




    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/logo/intexlogo.png" alt="..." height="50" width="80">
            </a>
            <h3 class="nav-title">Intelex Plastic</h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#product">Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Service
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Free Quote</a></li>
                            <li><a class="dropdown-item" href="#">Help</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!------Carousel--------->
    <div id="carousel">
        <div class="container">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://media.publit.io/file/w_2048/9BWBrgfR.jpg" class="d-block w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Fume Hood</h5>
                            <p>Providing a safe working environment special laboratory</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.publit.io/file/w_2048/7Tt8pz8H.jpg" class="d-block w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Metal Finishing & Electroplating</h5>
                            <p>Protect against corrosion, and improve the performance of metal surface</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.publit.io/file/w_2048/J6wDdc6s.jpg" class="d-block w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Custom Fabrication and Secondary Tank Container</h5>
                            <p>Creating or modifying a product according specific requi</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.publit.io/file/w_2048/7Tt8pz8H.jpg" class="d-block w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Scrubber Setup</h5>
                            <p>Installing or configuring air and water pollution control</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="title">
        <div class="container title">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title-heading">Intelex Plastic</h1>
                    <p class="sub-title">"Standard and custom design to ensure customer satisfaction at highest quality
                        level"</p>
                    <p class="company-discription">Intelex Plastic manufactures and distribution high-quality process
                        parts
                        and systems. Whether it’s
                        PVC, Polypropylene, HDPE, PVDF, TEFLON, or any other plastic, our sophisticated machinery
                        combined
                        with our skilled welders provide us with the flexibility t build to your exact specification.
                        Our
                        dedicated, knowledgeable staff will ensure that your needs are met to your precise
                        specification.
                        Call us today to discuss your application.</p>
                </div>
            </div>
        </div>
    </div>

    <!------Service---------->
    <section id="service">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="title-service">Service Provides</h1>
                    </div>
                </div>
                <div class="row font-color">
                    <div class="col-lg-6">
                        <ul>
                            <li>Scrubber Cleaning</li>
                            <li>Scrubber Installations </li>
                            <li>Packing Replacement</li>
                            <li>Repair</li>
                            <li>Custom fume hood</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>Tanks Repair:</li>
                            <ul>
                                <li>Cracks</li>
                                <li>PVC</li>
                                <li>HDPE</li>
                                <li>PVDF</li>
                                <li>Pipping modification and repair</li>
                            </ul>

                        </ul>
                    </div>

                </div>
            </div>
        </div>



    </section>
    <!--Production Lines-->
    <div id="product">
        <div class="container product-section">
            <div class="product-list">
                <h1>OUR PRODUCT LINE INCLUDES</h1>
                <h4>Electroless Nickel Plating Tanks</h4>

                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/Electroless/platting_line-1.html?player=PlayerOne&at=eyJpdiI6IjVFbGhCYnZ6M0MvSlFFTE9Pbi9HVUE9PSIsInZhbHVlIjoiNDcrRGNOZFR4M2YrYnVKbHY5NVdSRDViRUhTRVRaSE5NVzRDcDJQMG5QTT0iLCJtYWMiOiJiOTA0YmEwNmZlOTNlMDYwNmYwMDNhOGRjZTA4OTI4NTEwMGU5MjJhOTRjYjM3ZmFlMjhmOTk1Yjk4NjkwNjAyIiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Electroless/platting_line-1.jpg?at=eyJpdiI6Ijk2SlZiSDZBU3YyaGFncVJzREplN3c9PSIsInZhbHVlIjoiNUhoa3pjZDJ3Wm5ZU3V2dDdMQ0JQUEZWRDZjS3YwdEpKVVpRQTRSYjZOND0iLCJtYWMiOiIwYTJkN2I5NzdiNGYxNGMxZjI0ODA2ZGEzNzYwNDU4NjAwZDE1N2Q4MGNmOWRlMjlmOWU1OTM2ZDIyZmE3YTRhIiwidGFnIjoiIn0="
                        alt="platting_line-1" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/Electroless/platting_tank-7.jpg?at=eyJpdiI6InVaUFZ2ejNsb1FYQlMweDVYUWdXVXc9PSIsInZhbHVlIjoiRHNRZCtNNVcxZ2d1VWhRQ2hVcTcrRWFSWi9OOEoyZDhJYStIZ3V0N3ltWT0iLCJtYWMiOiI4MDcwMGI2MDFhM2UwNTA5YWJkMTg2MjQyY2I3M2IyYzRhNTNjMTAxNGJjNDhlNGFmMDI4MWFmMTA2ODg4ZDAzIiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Electroless/platting_tank-7.jpg?at=eyJpdiI6InVaUFZ2ejNsb1FYQlMweDVYUWdXVXc9PSIsInZhbHVlIjoiRHNRZCtNNVcxZ2d1VWhRQ2hVcTcrRWFSWi9OOEoyZDhJYStIZ3V0N3ltWT0iLCJtYWMiOiI4MDcwMGI2MDFhM2UwNTA5YWJkMTg2MjQyY2I3M2IyYzRhNTNjMTAxNGJjNDhlNGFmMDI4MWFmMTA2ODg4ZDAzIiwidGFnIjoiIn0="
                        alt="Forest" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/Electroless/platting_tank-5.jpg?at=eyJpdiI6IjhnUXhCTnc2V1ZnNWQvYkxrRVV0Snc9PSIsInZhbHVlIjoiT0hQWmNJeDFuQUNLcE5VTUNMODBrT1NhUlhNVHgxQ0ZVUGo0a29vZW9hcz0iLCJtYWMiOiJmNzg4N2QyZmUzY2QzNjY4YjZlY2FiOTQwNTc4NWE0ZWI4YTkzOWM1MTVmMjA5ZjAyMWVmZWZkMGE5OGIwZjM4IiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Electroless/platting_tank-5.jpg?at=eyJpdiI6IjhnUXhCTnc2V1ZnNWQvYkxrRVV0Snc9PSIsInZhbHVlIjoiT0hQWmNJeDFuQUNLcE5VTUNMODBrT1NhUlhNVHgxQ0ZVUGo0a29vZW9hcz0iLCJtYWMiOiJmNzg4N2QyZmUzY2QzNjY4YjZlY2FiOTQwNTc4NWE0ZWI4YTkzOWM1MTVmMjA5ZjAyMWVmZWZkMGE5OGIwZjM4IiwidGFnIjoiIn0="
                        alt="Forest" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/Electroless/platting_tank-4.jpg?at=eyJpdiI6InF2STJJTTNPTXJpSUI2d0VzajB6c0E9PSIsInZhbHVlIjoiVkdrdTdVdXVUTjl3SU9obEZkdlFzcXlvc2tlTE14SlVodmxTYVpyL3VkUT0iLCJtYWMiOiJkOTIzOTlkY2VlN2ViMjVlMGY2MjY2ZGQ2YmZkZjBlNjhhZTYwYjNmZmFiYzcyZTYyNmM1YjFkMjBiODU2OTMyIiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Electroless/platting_tank-4.jpg?at=eyJpdiI6InF2STJJTTNPTXJpSUI2d0VzajB6c0E9PSIsInZhbHVlIjoiVkdrdTdVdXVUTjl3SU9obEZkdlFzcXlvc2tlTE14SlVodmxTYVpyL3VkUT0iLCJtYWMiOiJkOTIzOTlkY2VlN2ViMjVlMGY2MjY2ZGQ2YmZkZjBlNjhhZTYwYjNmZmFiYzcyZTYyNmM1YjFkMjBiODU2OTMyIiwidGFnIjoiIn0="
                        alt="Forest" style="width:150px">
                </a>
            </div>
            <div class="product-list">
                <h4>Custom Fabrication / Secondary Tank Containment</h4>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-1.jpg?at=eyJpdiI6InNIa2R1RzU3Y1hScWV6MUNvSmlwTnc9PSIsInZhbHVlIjoiaFdrR3V4b04raEg1VW1QVlVtVDU5L1F6emtsNzAyZDF6ZDc1T0hIbVdNYz0iLCJtYWMiOiJkMTRmNzA4YjM5NTcwYWZjYmQ5NDVlZTI2Yzk4MDg3ODQwM2IyODVkYWQwZjY4ZjhkMmExOWE4ODZmZWZiZDZmIiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-1.jpg?at=eyJpdiI6InNIa2R1RzU3Y1hScWV6MUNvSmlwTnc9PSIsInZhbHVlIjoiaFdrR3V4b04raEg1VW1QVlVtVDU5L1F6emtsNzAyZDF6ZDc1T0hIbVdNYz0iLCJtYWMiOiJkMTRmNzA4YjM5NTcwYWZjYmQ5NDVlZTI2Yzk4MDg3ODQwM2IyODVkYWQwZjY4ZjhkMmExOWE4ODZmZWZiZDZmIiwidGFnIjoiIn0="
                        alt="Secondary Tank" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank2-1.jpg">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank2-1.jpg"
                        alt="Anodizing tank1" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-2.jpg?at=eyJpdiI6ImR2dithZzlUbU45ZWsxZGhZano5aGc9PSIsInZhbHVlIjoiWVM2aDdaSElXalhHRFZTL2tMZlRYWGpjRnNEa2JSWWhMRHdoRS94K1Z0TT0iLCJtYWMiOiJjNTNhMTEyNTM3NjI1MmE4ZmI2MTBiOWY4NzJkMTEwMjU3OTE4YmJiZjM1ODYxN2Q5OTNhODkwZDQwODRlY2U1IiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-2.jpg?at=eyJpdiI6ImR2dithZzlUbU45ZWsxZGhZano5aGc9PSIsInZhbHVlIjoiWVM2aDdaSElXalhHRFZTL2tMZlRYWGpjRnNEa2JSWWhMRHdoRS94K1Z0TT0iLCJtYWMiOiJjNTNhMTEyNTM3NjI1MmE4ZmI2MTBiOWY4NzJkMTEwMjU3OTE4YmJiZjM1ODYxN2Q5OTNhODkwZDQwODRlY2U1IiwidGFnIjoiIn0="
                        alt="Fabrication Tank" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-1.jpg?at=eyJpdiI6InRuUTZPV0F0ZTlXQkxEbGVLV0hnc1E9PSIsInZhbHVlIjoidWVzZGFhdHAwRnRlRmVwTzMwbGdNT0tJbmY4NXpUWTliZisvMFh5UmZpMD0iLCJtYWMiOiI1YjFkYThjOTc4ZWRmZmE4NmI2YTZhMjZiZDk2NGZhNGUyNDg4MjQ0MGVjM2NiNWM5MGI1YWI2NDU5Mzc2YjVhIiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-1.jpg?at=eyJpdiI6InRuUTZPV0F0ZTlXQkxEbGVLV0hnc1E9PSIsInZhbHVlIjoidWVzZGFhdHAwRnRlRmVwTzMwbGdNT0tJbmY4NXpUWTliZisvMFh5UmZpMD0iLCJtYWMiOiI1YjFkYThjOTc4ZWRmZmE4NmI2YTZhMjZiZDk2NGZhNGUyNDg4MjQ0MGVjM2NiNWM5MGI1YWI2NDU5Mzc2YjVhIiwidGFnIjoiIn0="
                        alt="Forest" style="width:150px">
                </a>
            </div>
            <div class="product-list">
                <h4>Scrubber System and Fume Hood</h4>
                <a target="_blank" href="https://media.publit.io/file/IntelexPlastic/Scrubber/chemical-hood2.jpg">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Scrubber/chemical-hood2.jpg" alt="Fume-Hood"
                        style="width:150px">
                </a>
                <a target="_blank" href="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubbersetup4.jpg">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubbersetup4.jpg" alt="Scruuber1"
                        style="width:150px">
                </a>
                <a target="_blank" href="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubber-setup2-j.jpg">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubber-setup2-j.jpg" alt="Scrubber2"
                        style="width:150px">
                </a>
                <a target="_blank" href="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubber-system3-3.jpg">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubber-system3-3.jpg"
                        alt="Scrubber3" style="width:150px">
                </a>
            </div>
        </div>
    </div>
    

    <%- include('partials/footer') %>