<%- include('partials/header') %>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/logo/intexlogo.png" alt="..." height="50" width="80">
            </a>
            <h3 class="nav-title">Intelex Plastic</h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#product">Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Service
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Free Quote</a></li>
                            <li><a class="dropdown-item" href="#">Help</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!------Carousel--------->
    <div id="carousel">
        <div class="container">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/Scrubber System and Fume Hood/chemical hood (1).JPG" class="d-block w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Fume Hood</h5>
                            <p>Providing a safe working environment special laboratory</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/electroless_nickel_plating_tank/platting_line (1).JPG" class="d-block w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Metal Finishing & Electroplating</h5>
                            <p>Protect against corrosion, and improve the performance of metal surface</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/electroless_nickel_plating_tank/platting_line (3org).JPG" class="d-block w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Custom Fabrication and Secondary Tank Container</h5>
                            <p>Creating or modifying a product according specific requi</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/Scrubber System and Fume Hood/scrubber setup (4).JPG" class="d-block w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Scrubber Setup</h5>
                            <p>Installing or configuring air and water pollution control</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="title">
        <div class="container title">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title-heading">Intelex Plastic</h1>
                    <p class="sub-title">"Standard and custom design to ensure customer satisfaction at highest quality
                        level"</p>
                    <p class="company-discription">Intelex Plastic manufactures and distribution high-quality process
                        parts
                        and systems. Whether it’s
                        PVC, Polypropylene, HDPE, PVDF, TEFLON, or any other plastic, our sophisticated machinery
                        combined
                        with our skilled welders provide us with the flexibility t build to your exact specification.
                        Our
                        dedicated, knowledgeable staff will ensure that your needs are met to your precise
                        specification.
                        Call us today to discuss your application.</p>
                </div>
            </div>
        </div>
    </div>

    <!------Service---------->
    <section id="service">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="title-service">Service Provides</h1>
                    </div>
                </div>
                <div class="row font-color">
                    <div class="col-lg-6">
                        <ul>
                            <li>Scrubber Cleaning</li>
                            <li>Scrubber Installations </li>
                            <li>Packing Replacement</li>
                            <li>Repair</li>
                            <li>Custom fume hood</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>Tanks Repair:</li>
                            <ul>
                                <li>Cracks</li>
                                <li>PVC</li>
                                <li>HDPE</li>
                                <li>PVDF</li>
                                <li>Pipping modification and repair</li>
                            </ul>

                        </ul>
                    </div>

                </div>
            </div>
        </div>



    </section>
    <!--Production Lines-->
    <div id="product">
        <div class="container product-section">
            <div class="product-list">
                <h1>OUR PRODUCT LINE INCLUDES</h1>
                <h4>Electroless Nickel Plating Tanks</h4>

                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/Electroless/platting_line-1.jpg?at=eyJpdiI6IkR0OWlleXhKMFpTUGw5MTl1TlBlbXc9PSIsInZhbHVlIjoiajJmeFF6eGRLUkJkcThPREdpdU5VUlJuYnROMjNUL2RpMkt0bnlTM0JrOD0iLCJtYWMiOiI5MTYwODQ2MTMyYTg5NGU2ZmZlZTYzYTFhNTE1ZmQ4NGJjNWZlMzg1NjQ3NDYwMGE0MTIzMmY4MDcyMzgxYjA0IiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Electroless/platting_line-1.jpg?at=eyJpdiI6IkR0OWlleXhKMFpTUGw5MTl1TlBlbXc9PSIsInZhbHVlIjoiajJmeFF6eGRLUkJkcThPREdpdU5VUlJuYnROMjNUL2RpMkt0bnlTM0JrOD0iLCJtYWMiOiI5MTYwODQ2MTMyYTg5NGU2ZmZlZTYzYTFhNTE1ZmQ4NGJjNWZlMzg1NjQ3NDYwMGE0MTIzMmY4MDcyMzgxYjA0IiwidGFnIjoiIn0="
                        alt="Forest" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/Electroless/platting_tank-7.jpg?at=eyJpdiI6IjFaRUJkR0F0WmxIS0NsUFE1RGI4ZHc9PSIsInZhbHVlIjoidTROTThmSCtYalRKRlJjOUlvVnRWVjVlY205eEprN0xCYWtyUkVOZFdiVT0iLCJtYWMiOiJlNzRmOTkwODY3MDdhYmE3MTljMGIzY2VhNWUyMTU3NWY2ZmY1MTc3MTMyOWRmYzE3YTk0MjIxNTRjMmMyZTQ3IiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Electroless/platting_tank-7.jpg?at=eyJpdiI6IjFaRUJkR0F0WmxIS0NsUFE1RGI4ZHc9PSIsInZhbHVlIjoidTROTThmSCtYalRKRlJjOUlvVnRWVjVlY205eEprN0xCYWtyUkVOZFdiVT0iLCJtYWMiOiJlNzRmOTkwODY3MDdhYmE3MTljMGIzY2VhNWUyMTU3NWY2ZmY1MTc3MTMyOWRmYzE3YTk0MjIxNTRjMmMyZTQ3IiwidGFnIjoiIn0="
                        alt="Forest" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/Electroless/platting_tank-5.jpg?at=eyJpdiI6IlE4YmpSQ241QXBaVENWRzNhUDU4Y1E9PSIsInZhbHVlIjoiWk4rdGF1QUE5K3ZjbUUwQllaSzZ3K2FTUWVwdVlTbDdObmtadGRNVVZ0Yz0iLCJtYWMiOiJmNGQwM2RjMjNjMTBmYjdhODIwNjk2OTk5Y2JmODViYzU4NWEzM2E3NDk4NzcxMzE1NTNkY2E0ZDhkMDc1MWNiIiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Electroless/platting_tank-5.jpg?at=eyJpdiI6IlE4YmpSQ241QXBaVENWRzNhUDU4Y1E9PSIsInZhbHVlIjoiWk4rdGF1QUE5K3ZjbUUwQllaSzZ3K2FTUWVwdVlTbDdObmtadGRNVVZ0Yz0iLCJtYWMiOiJmNGQwM2RjMjNjMTBmYjdhODIwNjk2OTk5Y2JmODViYzU4NWEzM2E3NDk4NzcxMzE1NTNkY2E0ZDhkMDc1MWNiIiwidGFnIjoiIn0="
                        alt="Forest" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/Electroless/platting_line-4.jpg?at=eyJpdiI6IkFkVTV3TFU5ekNtdzJnQmFTVU9pcGc9PSIsInZhbHVlIjoiUG9YQksyZmFyWFE2YVFNNmxGV0tDSFNVSFBhd0RpZ1NVaUg4em14NmQyaz0iLCJtYWMiOiJkNWM1NGZkZmMyMzE3YjFhNTM3YzQ5ZWQ5NGE5NzRhNDMyZWJiNWU4NTdkOTA5MDBhODgzZTVkNDY4ZTc0NmY0IiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Electroless/platting_line-4.jpg?at=eyJpdiI6IkFkVTV3TFU5ekNtdzJnQmFTVU9pcGc9PSIsInZhbHVlIjoiUG9YQksyZmFyWFE2YVFNNmxGV0tDSFNVSFBhd0RpZ1NVaUg4em14NmQyaz0iLCJtYWMiOiJkNWM1NGZkZmMyMzE3YjFhNTM3YzQ5ZWQ5NGE5NzRhNDMyZWJiNWU4NTdkOTA5MDBhODgzZTVkNDY4ZTc0NmY0IiwidGFnIjoiIn0="
                        alt="Forest" style="width:150px">
                </a>
            </div>
            <div class="product-list">
                <h4>Custom Fabrication / Secondary Tank Containment</h4>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-1.jpg?at=eyJpdiI6IkpmMVlONFRUY2R4QTl0dzhUbmM0bnc9PSIsInZhbHVlIjoiSjlCeU4rMkxqekhNRS9iZGVlaVNreHkzdTNmRUNkcFhxb0Zoa2dkMEk3RT0iLCJtYWMiOiI3NmE5ZmI2NDExNmM3NTc2NWIyM2ZjZGFlMDYyMmViODljNGYxYWUyODEwNzk2Mjc4YjU4ZjAxZWM3YWZkODNiIiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-1.jpg?at=eyJpdiI6IkpmMVlONFRUY2R4QTl0dzhUbmM0bnc9PSIsInZhbHVlIjoiSjlCeU4rMkxqekhNRS9iZGVlaVNreHkzdTNmRUNkcFhxb0Zoa2dkMEk3RT0iLCJtYWMiOiI3NmE5ZmI2NDExNmM3NTc2NWIyM2ZjZGFlMDYyMmViODljNGYxYWUyODEwNzk2Mjc4YjU4ZjAxZWM3YWZkODNiIiwidGFnIjoiIn0="
                        alt="Secondary Tank" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank2-1.jpg">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank2-1.jpg"
                        alt="Anodizing tank1" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-2.jpg?at=eyJpdiI6InRGNzdwKzFRVlV1VmUxdENEckE3Wnc9PSIsInZhbHVlIjoib1pNS3NRNS9VUUJwZXp4VThuOTBVQS9KbzEyWGRQYnM2YnJKWFBnTVJDbz0iLCJtYWMiOiI2YzQ3MDU0NWMwYWNkYWYyMGIzNDZlNzA2MWNiZmE2ZWU3MWExNzA1NzhkYWYyNTEwMTMwYWE5Y2Q5MDc4MGYzIiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-2.jpg?at=eyJpdiI6InRGNzdwKzFRVlV1VmUxdENEckE3Wnc9PSIsInZhbHVlIjoib1pNS3NRNS9VUUJwZXp4VThuOTBVQS9KbzEyWGRQYnM2YnJKWFBnTVJDbz0iLCJtYWMiOiI2YzQ3MDU0NWMwYWNkYWYyMGIzNDZlNzA2MWNiZmE2ZWU3MWExNzA1NzhkYWYyNTEwMTMwYWE5Y2Q5MDc4MGYzIiwidGFnIjoiIn0="
                        alt="Fabrication Tank" style="width:150px">
                </a>
                <a target="_blank"
                    href="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-1.jpg?at=eyJpdiI6IkZzbTFVaGlWZDE5RUdnSmxSRG5JT0E9PSIsInZhbHVlIjoiN3QrWHFHM1hUTy9wZ1YrZzdrck16VkpqU0oxa2g3cm5NanlFK0hYU3hEMD0iLCJtYWMiOiIzMDM0NWQ5ZGMxMjM1MzIzYWNiNjUwNWU4MDM2NzljYWVkYTU1ZTMxYTRiYjNhNmUyYmMxNTUyMDYwMDVkZjJjIiwidGFnIjoiIn0=">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/CustomFabrication/anodizing_tank-1.jpg?at=eyJpdiI6IkZzbTFVaGlWZDE5RUdnSmxSRG5JT0E9PSIsInZhbHVlIjoiN3QrWHFHM1hUTy9wZ1YrZzdrck16VkpqU0oxa2g3cm5NanlFK0hYU3hEMD0iLCJtYWMiOiIzMDM0NWQ5ZGMxMjM1MzIzYWNiNjUwNWU4MDM2NzljYWVkYTU1ZTMxYTRiYjNhNmUyYmMxNTUyMDYwMDVkZjJjIiwidGFnIjoiIn0="
                        alt="Forest" style="width:150px">
                </a>
            </div>
            <div class="product-list">
                <h4>Scrubber System and Fume Hood</h4>
                <a target="_blank" href="https://media.publit.io/file/IntelexPlastic/Scrubber/chemical-hood2.jpg">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Scrubber/chemical-hood2.jpg" alt="Fume-Hood"
                        style="width:150px">
                </a>
                <a target="_blank" href="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubbersetup4.jpg">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubbersetup4.jpg" alt="Scruuber1"
                        style="width:150px">
                </a>
                <a target="_blank" href="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubber-setup2-j.jpg">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubber-setup2-j.jpg" alt="Scrubber2"
                        style="width:150px">
                </a>
                <a target="_blank" href="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubber-system3-3.jpg">
                    <img class="product_img"
                        src="https://media.publit.io/file/IntelexPlastic/Scrubber/scrubber-system3-3.jpg"
                        alt="Scrubber3" style="width:150px">
                </a>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>