<%- include('partials/header') %>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://placeholder.pics/svg/150x50/888888/EEE/Logo" alt="..." height="36">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Ttile-->
    <div class="container">
        <h1 class="mt-4">INTELEX PLASTIC</h1>
        <h5>"STANDARD OR CUSTOM DESIGN TO ENSURE CUSTOMER SATISFACTION AT THE HIGHEST QUALITY LEVEL"</h5>
        <p>Intelex Plastic manufactures and distributes high quality process parts and systems. Whether it's
            PVC, Polypropylene, HDPE, PVDF,PFA, TEFLON or any other plastics, our sophisticated machinery
            combined with our skilled plastic welders provide us the exact specifications, call us today to
            discuss your application.
        </p>
        <hr>
        <div class="container text-center">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
                <div class="col-6 col-md-6"><img src="img/tanks.jpg" alt="" width="640" height="360"></div>
                <div class="col-md-6  ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
        </div>
        <hr>
    </div>
    <!--Service-->
    <section id="service">
        <div class="container">
            <h1>Service We Provide</h1>
            <ul>
                <li>Scrubber Cleaning</li>
                <li>Packing Replacement</li>
                <li>Repairs</li>
                <li>Fume Hood</li>
                <li>Scrubber Installations</li>
                <li>Tanks Repairs
                    <ul>
                        <li>Cracks</li>
                        <li>PVC</li>
                        <li>HDPE</li>
                        <li>PVDF</li>
                        <li>Piping modification and repair</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <!--Production Lines-->
    <div class="container product-section">
        <hr>
        <div class="product-list">
            <h1>OUR PRODUCT LINE INCLUDES</h1>
            <h3>Electroless Nickel Plating Tanks</h3>
            <img class="product_img" src="img/electroless_nickel_plating_tank/platting_line (1).JPG"
                alt="Platting Tanks">
            <img class="product_img" src="img/electroless_nickel_plating_tank/platting_tank (2org).JPG"
                alt="Platting Tanks">
            <img class="product_img" src="img/electroless_nickel_plating_tank/platting_line (3org).JPG"
                alt="Platting Tanks">
        </div>
        <div class="product-list">
            <h3>Custom Fabrication / Secondary Tank Containment</h3>
            <img class="product_img" src="img/Custom Fabracation and Secondary Tank Containment/anodizing_tank (2).JPG"
                alt="Platting Tanks">
            <img class="product_img" src="img/Custom Fabracation and Secondary Tank Containment/anodizing_tank (6).JPG"
                alt="Platting Tanks">
            <img class="product_img" src="img/Custom Fabracation and Secondary Tank Containment/anodizing_tank (3).JPG"
                alt="Platting Tanks">
        </div>
        <div class="product-list">
            <h3>Scrubber System and Fume Hood</h3>
            <img class="product_img" src="img/Scrubber System and Fume Hood/chemical hood (1).JPG"
                alt="Platting Tanks">
            <img class="product_img" src="img/Scrubber System and Fume Hood/scrubber setup (4).JPG"
                alt="Platting Tanks">
            <img class="product_img" src="img/Scrubber System and Fume Hood/scrubber setup (4).JPG"
                alt="Platting Tanks">
        </div>
    </div>
    <!--Testimonials-->
    <section id="testimonials">
        <div class="container">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="img/Scrubber System and Fume Hood/chemical hood (1).JPG" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="img/electroless_nickel_plating_tank/platting_line (1).JPG" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="img/electroless_nickel_plating_tank/platting_line (3org).JPG" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/Scrubber System and Fume Hood/scrubber setup (4).JPG" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Fourt slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p>
                    </div>
                  </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>



    <%- include('partials/footer') %>