html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


/* nav style */
.navbar{
    background-color: #dadada !important;
}


.nav-link{
    color: rgb(255, 123, 0);
    font-size: 1.3rem;
    font-weight: bold;

}
.nav-title{
    color: rgb(225, 123, 0)
    
}


#container {
    position: relative;
    min-width: 100vh;
}
.title-heading{
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    text-align: center;
}

.sub-title{
    font-size: 1.2rem;
    font-weight:700;
    text-align: center;
}
.company-discription{
    text-align: justify;
    line-height: 2;

}

/* -----Service ------- */

.title-service{
    text-align: center;
    padding-bottom: 25px;
}



.alert{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    margin: auto;
    letter-spacing: .2rem;
    width: 140px;
    
}
.alert a{
    text-decoration: none;
    color: black;
    
}

.alert a:hover{
    color:#125688;
    font-size: 1.2rem;
}

/* Footer Section*/
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.center-footer {
    text-align: center;
    margin-top: 45px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

/* Socil Icons */

.social-icons{
    margin-top: 50px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

/* product-section */
.product-section{
    padding-bottom: 30px;
}
.product_img{
    width: 250px;
    height: 250px;
}

.product-list{
    text-align: center;
}

/* Carousel */
.carousel-caption{
background-color: #6E6E6E;
opacity: 0.8;
}


