html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;  
}
h1{
    margin-top: 10px;
}


/* nav style */

.navbar{
    background-color: #537188 !important;
    -webkit-box-shadow: 2px 13px 5px -7px rgba(179,175,179,1);
    -moz-box-shadow: 2px 13px 5px -7px rgba(179,175,179,1);
    box-shadow: 2px 13px 5px -7px rgba(179,175,179,1);   
}


.nav-link{
    color: rgb(255, 255, 255);   
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    

}
.nav-title{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

#container {
    position: relative;
    min-width: 100vh;
}
.carousel{
    margin-top: 15px;
}

.carousel-caption{
    background-color: #6E6E6E;
    opacity: 0.8;
    }
#title{
    background-color: #537188;
    color: aliceblue;
    -webkit-box-shadow: 2px 13px 5px -7px rgba(179,175,179,1);
    -moz-box-shadow: 2px 13px 5px -7px rgba(179,175,179,1);
    box-shadow: 2px 13px 5px -7px rgba(179,175,179,1);
    margin-top: -55px;
    height: 50%;
    
}
.title-heading{
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 80px;
}

.sub-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight:700;
    text-align: center;
}
.company-discription{
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2;

}

/* -----Service ------- */

#service{
    height: 50%;
}

.title-service{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin: 80px 20px;
    text-align: center;
}
.font-color{
    font-weight: 700;
    font-size: 1.2rem;
}

/* ------Product Section */

#product{
    background-color: #537188;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 2px 13px 5px -7px rgba(179,175,179,1);
    -moz-box-shadow: 2px 13px 5px -7px rgba(179,175,179,1);
    box-shadow: 2px 13px 5px -7px rgba(179,175,179,1);   
  
}
.product-list{
    text-align: center;
}
.product-list>h1{
    padding-top: 20px;
}
.product-list>h4{
    margin: 10px 0;
}
.product-section{
    padding-bottom: 50px;
}
.product_img{
    width: 300px;
    height: 250px;
 
}

/* Footer Section*/
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: 200px;
}

.center-footer {
    text-align: center;
    margin-top: 45px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

/* Socil Icons */

.social-icons{
    margin-top: 50px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}



/* ------------------Media Query------------ */

@media only screen and (max-width: 500px) {

    h1{
        margin-top: 20px;
        font-size: 1rem;
    }
 
 /* -----Title----- */
    #title{
    height: 40%;
 }
    .title-heading{
        font-size: 2rem;
        margin-top: 10px;
    }
    .sub-title{
        font-size: 1rem;
    }
    .company-discription{
        font-size: .6rem;
    }
    /* -----Service----- */
    #service{
        height: 40%;
    }
    .title-service{
        font-size: 1rem;
        margin: 10px 0;
    }
    .col-lg-6{
        font-size: .5rem;
    }
    .product-list>h4{
        margin: 10px 0;
        font-size: 1rem;
    }

    #footer{
        margin-top: 25px;
    }
 

  }